<!DOCTYPE html>
<html>
<head>
    <title>Latest Data from sensor</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 50px; }
        h1 { color: #333; }
        table { border-collapse: collapse; width: 50%; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 10px; text-align: left; }
        th { background-color: #f2f2f2; }
        tr:hover { background-color: #f9f9f9; }
    </style>
</head>
<body>
    <h1>Latest Data from sensor </h1>
    <table>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Air temperature</td>
            <td>{{ air_t }}</td>
        </tr>
        <tr>
            <td>Air Humidity</td>
            <td>{{ air_h }}</td>
        </tr>
        <tr>
            <td>Soil Humidity</td>
            <td>{{ soil_h }}</td>
        </tr>
        <tr>
            <td>Luminosity</td>
            <td>{{ lum }}</td>
        </tr>
    </table>
</body>
</html>